/* ---------------------- 
Stylesheet Guide
-------------------------

FONTS
GENERAL STYLES
MAIN MENU
PAGE STRUCTURE
FORMS
ORIEL CAROUSEL
SIDEBAR DROPDOWN MENU
SIDEBAR
FLICKR
TESTIMONIALS
BLOG
COMMENTS
GALLERY AND PROJECTS
TEAM MEMBER ICONS
RESPONSIVE VIDEO
FLEX IMAGE
NUMERIC LIST
ACCORDION
TABS
INFO BOX
GOOGLE MAP - INFO BARS
FOOTER
SOCIAL ICONS

*/

/* ================= FONTS ================== */

@font-face {
    font-family: 'ralewaybold';
    src: url('../fonts/raleway-bold-webfont.eot');
    src: url('../fonts/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-bold-webfont.woff') format('woff'),
         url('../fonts/raleway-bold-webfont.ttf') format('truetype'),
         url('../fonts/raleway-bold-webfont.svg#ralewaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body,p{
    font-family: 'ralewayregular';
}
h1,h2,h3,h4,h5,h6,strong,.ns_nerveSlider .ns_slideContent,.slider-filter-text span,.readmore-button,.call-now,.faq dt,.resp-tabs-list li,.subtitle-bar p,.button,.toggleMenu{
    font-family: 'ralewaybold';
}
/* ================= GENERAL STYLES ================== */

html,
body {
    margin: 0;
    padding: 0;
}
body {
    font-size: 15px;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 30px;
    margin-top: 0px;
    line-height: 1;
}
h1 {
    font-size: 38px;
}
h2 {
    font-size: 34px;
}
h3 {
    font-size: 30px;
}
h4 {
    font-size: 26px;
}
h5 {
    font-size: 22px;
}
h6 {
    font-size: 18px;
}
.show {
    display: block !important;
}
.hide {
    display: none !important;
}
.clear {
    clear: both;
}
p {
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
    margin-top: 0px;
    word-spacing: 0.15em;
}
p:last-child {
    margin-bottom: 0px;
}
a {
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
strong {
    letter-spacing: 0.01em;
}
hr {
    height: 1px;
    width: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0px;
    margin-left: 0px;
    clear: both;
    outline: none;
    border: none;
}
.flex-img {
    margin-bottom: 40px;
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
blockquote {
    margin: 40px 0px;
    padding: 40px 40px 40px 100px;
    position: relative;
}
blockquote:before {
	width: 61px;
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0px;
	left: 0px;
    margin: 0px;
    z-index: 1;
    content: '';
}
blockquote:after {
	content: '"'; 
	position: absolute;
	font-size: 100px;
    font-style: normal;
	line-height: 1;
	text-align: center;
	top: 50%;
	left: 17px;
    margin: -20px 0px 0px 0px;
    z-index: 2;
}
blockquote p {
    display: inline;
    font-size: 18px;
    margin: 0px;
    line-height: 1.5;
}
blockquote cite {
    font-style: normal;
    font-weight: 700;
    line-height: 1.5;
    display: block;
    margin-top: 15px;
    text-align: right;
}
blockquote cite:before {
    content: "— ";
}
blockquote,i,em {
    font-style: italic;
}
label {
    line-height: 1;
    margin-bottom: 10px !important;
    display: block;
    font-weight: 700;
}
.label {
    padding: 10px 15px 10px 15px;
    display: inline-block;
}
.ext-link img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
}
.ext-link {
    background-position:center center;
    background-repeat:no-repeat;
    background-image:url('../images/link.png');
    outline: none !important;
    display: block;
    -webkit-backface-visibility: hidden;
}
.ext-link img {
    -webkit-transition:opacity 0.4s ease-in-out;
    -moz-transition:opacity 0.4s ease-in-out;
    -o-transition:opacity 0.4s ease-in-out;
    -ms-transition:opacity 0.4s ease-in-out;
    transition:opacity 0.4s ease-in-out;
    opacity: 1;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
}
.ext-link:hover img {
    opacity: 0.1;
}
.ext-link.project-photo {
    background-image:url('../images/zoom.png');
}
/* ================= MAIN MENU  ================== */
.logo {
    float: left;
    padding-left: 40px;
    padding-right: 40px;
}
.logo img {
    width: auto;
    height: 120px;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: bottom;
    margin: 0px;
}
.nav-container {
    margin: 0px auto;
    z-index: 9;
    max-width: 1400px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    pointer-events: none;
}
.toggleMenu {
    display: none;
    list-style: none;
    padding: 15px 40px 15px 40px;
    margin: 0px;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    font-size: 24px;
    font-weight: 700;
    background-image: url("../images/menu.png");
    background-repeat: no-repeat;
    background-position: right 40px center;
    outline: none !important;
    text-transform: uppercase;
}
.toggleMenu:hover {
    text-decoration: none;
}
.nav {
    font-size: 18px;
    list-style: none;
    *zoom: 1;
    padding: 0px;
    padding-right: 40px;
    margin: 0;
    line-height: 110px;
    z-index: 9999;
    float: right;
}
.nav ul {
    font-size: 15px;
    list-style: none;
    width: 14em;
    padding: 0px;
    margin: 0px;
    line-height: 30px;
}
.nav a {
    padding: 5px 15px;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    outline: none !important;
}
.nav ul li a {
    padding: 10px 20px 10px 20px;
}
.nav li {
    position: relative;
}
.nav > li {
    float: left;
}
.nav > li > a {
    display: block;
}
.nav li ul {
    position: absolute;
    left: -9999px;
}
.nav > li.hover > ul {
    left: 0;
}
.nav li li.hover ul {
    left: 100%;
    top: 0;
    padding-top: 0px;
}
.nav li li a {
    display: block;
    position: relative;
    z-index: 100;
}
.nav li li li a {
    z-index: 200;
}
.nav li li a:hover,
.nav li li li a:hover {
    padding-left: 25px;
}
/* ================= PAGE STRUCTURE ================== */
#page-loading {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999999999;
    top:0;
    right: 0;
    left: 0;
    bottom: 0;
}
.page-block-left h1,.page-block-left h2,.page-block-left h3,.page-block-left h4,.page-block-left h5,.page-block-left h6 {
    padding: 15px 20px;
    margin-right: -40px;
    margin-bottom: 40px;
}
#left-bg,#right-bg {
    position:fixed;
    height:100%;
    top:0;
    z-index:-1;
}
#left-bg {
    left:0;
}
#right-bg {
    right:0;
}
#site-container {
    position: relative;
}
.page-block {
    width: 100%;
    max-width: 1400px;
    position: relative;
    margin: 0px auto 0px auto;
    overflow: hidden;
    padding: 0px;
    z-index: 1;
}
.page-block-left {
    float: left;
    width: 400px;
}
.page-block-right {
    float: right;
}
.page-block-inner {
    padding: 40px;
}
.page-title-container {
    width: 100%;
    position: relative;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
    z-index: 1;
}
#page-title-bg {
    position: absolute;
    left: 0px;
    top:0px;
    height: 100%;
    z-index: 2;
}
#page-title-text{
    padding: 200px 0px;
    width: 100%;
    margin: 0px auto;
    max-width: 1400px;
    display: block;
}
#page-title-text h1{
    margin: 0px 40px 0px 0px;
    text-align: left;
    text-transform: uppercase;
    display: inline-block;
    padding: 30px 40px;
}
#post-date-border {
    height: 80px;
    width: 100%;
    z-index: -1;
}
.post-with-date {
    margin-top: -80px;
}
/* ================= FORMS ================== */
input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="password"],
textarea {
    width: 100%;
    display: block;
    margin: 0px 0px 40px 0px;
    padding: 15px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    word-spacing: 0.1em;
    letter-spacing: 0.01em;
    border:none;
}
input[type="text"].oversize,
input[type="email"].oversize,
input[type="number"].oversize,
input[type="date"].oversize {
    padding: 4px 5px
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus,
input[type="password"]:focus {
    outline: none !important;
}
input[type="submit"] {
    margin-top: 15px;
}
textarea {
    height: 140px;
    margin-bottom: 25px !important;
}
.button {
    width: auto;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    line-height: 1;
    margin: 0px;
    outline: none;
    padding: 15px 20px 15px 20px;
    position: relative;
    text-align: center;
    text-decoration: none !important;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border: none;
    word-spacing: 0.1em;
    letter-spacing: 0.01em;
}
.search-button {
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: center center;
}
.searchbox .button {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    height: 50px;
}
.searchbox {
    width: 100% !important;
    display: inline-block;
    position: relative;
    vertical-align: bottom;
}
.searchbox input[type="text"].searchtext {
    width: 70% !important;
    float: left;
    border-right: none !important;
    height: 50px;
    margin-bottom: 0px;
}
.searchbox .button {
    width: 30% !important;
    float: right;
    position: absolute;
    top: 0;
    margin: 0px;
}
.readmore-button {
    word-spacing: 0.1em;
    letter-spacing: 0.01em;
    padding: 10px 0px;
    line-height: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    display: inline-block;
    outline: none !important;
}
.readmore-button:hover {
    padding: 10px 15px;
}
.form-box {
    margin-top: 40px;
}
/* ================= ORIEL CAROUSEL ================== */

.oriel-carousel {
    position: relative;
    overflow: hidden;
}
.oriel-carousel h5 {
    margin-bottom: 10px;
    margin-top: 0px;
}
.oriel-carousel .button {
    display: block;
}
.oriel-carousel > img {
    width: 100%;
    padding: 0;
}
.oriel-carousel > figcaption {
    width: 100%;
    height: 100%;
}
.oriel-carousel > figcaption div {
    padding: 25px;
    height: 100%;
}
.oriel-carousel p {
    margin-bottom: 25px;
}
.oriel-carousel .oriel-carousel-date {
    margin-bottom: 0px;
    font-style: italic;
}
.oriel-carousel hr {
    margin-right: -25px;
    margin-left: -25px;
    margin-top: 20px;
    margin-bottom: 20px;
}
/* ================= SIDEBAR DROPDOWN MENU ================== */
.submenu {
    margin: 0px;
    line-height: 1;
}
.submenu ul {
    margin: -12px 0px -12px 0px;
    padding: 0px;
}
.submenu ul li {
    margin:0px;
    padding: 0px;
    border:none !important;
}
.submenu ul li a {
    position: relative;
    display: inline-block;
    padding: 0px;
    outline: none;
    text-decoration: none;
    font-size: 17px;
    width: auto;
    margin: 12px 0px 12px 0px;
    -webkit-transition:color 0.2s ease-in-out;
    -moz-transition:color 0.2s ease-in-out;
    -o-transition:color 0.2s ease-in-out;
    -ms-transition:color 0.2s ease-in-out;
}
.submenu ul li a:hover {
    outline: none;
}
.submenu ul ul {
    display: none;
    margin: 12px 0px;
    padding-left: 10px;
}
.submenu ul ul li a {
    font-size:15px;
}
.submenu ul ul li {
    margin-bottom: 0px;
}
.submenu ul > li > a.has-sub,.submenu ul > li > a.has-sub2 {
    background-position: 100% 75%;
    background-repeat:no-repeat;
    padding-right: 30px;
}
.submenu ul > li > a.has-sub {
    background-image: url('../images/down.png');
}
.submenu ul > li > a.has-sub2 {
    background-image: url('../images/up.png');
}
/* ================= SIDEBAR ================== */
.call-now {
    font-size: 22px;
    margin: 0px -40px 0px 0px;
    line-height: 1;
}
.call-now span{
    font-size: 24px;
    padding: 15px 20px 15px 80px;
    background-image: url(../images/phone.png);
    background-position: 14px center;
    background-repeat: no-repeat;
    display: block;
}
.sidebar-box {
    margin-bottom: 40px;
}
.sidebar-box:last-child {
    margin-bottom: 0px;
}
.sidebar-list li a {
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out;
}
.sidebar-list {
    list-style: none;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
}
.sidebar-list li {
    padding-left: 0px;
    padding-bottom: 12px;
    margin-bottom: 12px;
}
.sidebar-list li:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
}
.sidebar-list li a:hover {
    text-decoration: none;
}
.tags-container {
    position: relative;
    display: inline-block;
}
.tags {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 5px 7px 5px 7px;
    -webkit-transition: background-color 0.2s ease-in-out;
    -moz-transition: background-color 0.2s ease-in-out;
    -o-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    opacity: 0.5;
}
.tags:hover {
    text-decoration: none;
    opacity: 1;
}
.sidebar-posts-img {
    position: absolute;
    left: 0px;
    top:0px;
    width: 70px;
}
.sidebar-posts {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
}
.sidebar-posts li{
    position: relative;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 20px 90px;
    float: left;
    width: 100%;
    min-height: 91px;
}
.sidebar-posts li:last-child {
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-bottom: none;
    min-height: 70px;
}
.sidebar-posts li img{
    -webkit-transition: border 0.2s ease-in-out;
    -moz-transition: border 0.2s ease-in-out;
    -o-transition: border 0.2s ease-in-out;
    -ms-transition: border 0.2s ease-in-out;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    vertical-align: bottom;
}
.sidebar-post-title{
    display: inline-block;
}
.sidebar-post-date {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 13px;
    font-style: italic;
    opacity: 0.7;
}
/* ================= FLICKR  ================== */
 .flickr-box {
    margin: 0px 0px -5px 0px;
    padding: 0px;
    overflow: hidden;
    width: 105%;
    position: relative;
}
.flickr-box li {
    list-style:none;
    float:left;
    margin-right:5px;
    margin-bottom:5px;
    padding:0px;
    height:75px;
    background-image:none !important;
    display: inline-block;
}
.flickr-box li:last-child {
    margin-right:0px;
}
.flickr-box li {
    border:none !important;
}
.flickr-box li img {
    display:block;
    -webkit-transition:all 0.4s ease-in-out;
    -moz-transition:all 0.4s ease-in-out;
    -o-transition:all 0.4s ease-in-out;
    transition:all 0.4s ease-in-out;
    width: 75px;
    height: auto;
    opacity:0.7;
    cursor: pointer;
}
.flickr-box li img:hover {
    opacity:1;
}
/* ================= TESTIMONIALS ================== */
#testimonials {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: none;
}
#testimonials .owl-dots {
    text-align: right;
    margin-top: -100px;
}
#testimonials .owl-dots .owl-dot span {
    margin: 0px 0px 0px 10px;
}
.testimonial .testimonial-text {
    margin-bottom: 0px;
    width: 100%;
    padding: 25px;
    font-style: italic;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 18px;
}
.testimonial-image {
    width: 100%;
    margin-top: 25px;
}
.testimonial img {
    width: 100%;
    max-width: 85px;
    height: auto;
    float: left;
    margin-right: 20px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
}
.testimonial .testimonial-text:before {
    top: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: transparent;
    border-width: 10px;
    margin-left: 0px;
    z-index: 9;
}
.testimonial-name {
    font-size: 20px;
    padding-top: 20px;
    margin-bottom: 5px;
    margin-top: 0px;
    line-height: 1;
}
/* ================= BLOG ================== */
.blogcontainer {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0px 0px 40px 0px;
    padding: 0;
    vertical-align: bottom;
}
.blogcontainer:last-child {
    margin-bottom: 0px;
}
.blogcontainer h4{
    margin-bottom: 15px;
}
.blogcontainer p {
    margin-bottom: 35px;
}
.blogcontainer p.postdate {
    line-height: 1;
    font-style: italic;
    margin: 0px 0px 35px 0px;
}
.blogcontainer .button{
    margin: 0px;
}
.postcontent {
    float: right;
    width: 60%;
    padding: 40px;
    position: relative;
}
.blogimage {
    position: absolute;
    left:0;
    top:0;
    width: 40%;
    height: 100%;
    vertical-align: bottom;
    background: url(../images/loading2.gif) no-repeat scroll center center transparent !important;
    -webkit-backface-visibility: hidden;
}
.blogimage a{
    position: absolute;
    left:0;
    top:0;
    width: 100.1%;
    height: 100%;
    opacity: 0;
    -webkit-transition:opacity 0.4s ease-in-out;
    -moz-transition:opacity 0.4s ease-in-out;
    -o-transition:opacity 0.4s ease-in-out;
    -ms-transition:opacity 0.4s ease-in-out;
    transition:opacity 0.4s ease-in-out;
    background-position:center center;
    background-repeat:no-repeat;
    background-image:url('../images/link.png');
    vertical-align: bottom;
    -webkit-backface-visibility: hidden;
}
.right-img .blogimage a,.right-img .blogimage{
    left: inherit;
    right: 0px;
}
.right-img .postcontent{
    float: left;
}
.blogimage a:hover{
    opacity: 0.9;
}
.blogpager {
    width:100%;
    position:relative;
    display:inline-block;
    vertical-align:bottom;
    margin: 0px;
}
.blogpager .button {
    margin: 0px !important;
}
.previous {
    float:left;
    width:50%;
    padding:0px;
}
.next {
    float:right;
    width:50%;
    text-align:right;
    padding:0px;
}
.subtitle-bar {
    padding: 0px 40px;
    margin: 0px;
    height: 80px;
}
.subtitle-bar p {
    padding-left: 40px;
    margin: 0px;
    font-size: 22px;
    line-height: 80px;
}
.subtitle-bar .dateicon {
    padding-left: 40px;
    background-image: url('../images/date.png');
    background-position: left center;
    background-repeat: no-repeat;
}
/* ================= COMMENTS ================== */
.comments {
    margin-top:30px;
    margin-bottom:0px;
}
.comments p {
    margin-bottom:40px !important;
}
.comments .meta {
    margin-bottom:10px !important;
    font-weight: 700;
}
.comments_content {
    padding-top:10px;
    position:relative;
}
.reply {
    padding-left:60px;
}
.reply_icon {
    width:31px;
    height:33px;
    background-image:url(../images/reply.png);
    position:absolute;
    display:none;
    top:-22px;
    left:-45px;
    background-repeat:no-repeat;
}
.comments.reply .reply_icon {
    display:block !important;
}
.comment-form {
    margin-top: 35px;
}
/* ================= GALLERY AND PROJECTS ================== */
.gallerycontainer {
    position: relative;
    width: 100%;
    height: auto;
    display: inline-block;
    margin: 0px 0px 40px 0px;
    padding: 0;
    vertical-align: bottom;
}
.gallerycontainer:last-child {
    margin-bottom: 0px;
}
.gallerycontainer h4{
    margin-bottom: 30px;
}
.gallerycontainer p {
    margin-bottom: 35px;
}
.gallerycontainer p.postdate {
    line-height: 1;
    font-style: italic;
    margin: 0px;
}
.gallerycontainer .button{
    margin: 0px;
}
.gallerycontent {
    float: right;
    width: 40%;
    padding: 40px;
    position: relative;
}
.galleryimage {
    position: absolute;
    left:0;
    right: 0;
    bottom: 0;
    top:0;
    width: 60%;
    height: 100%;
    vertical-align: bottom;
    background: url(../images/loading2.gif) no-repeat scroll center center transparent !important;
}
.galleryimage a{
    position: absolute;
    left:0;
    top:0;
    width: 100.1%;
    height: 100%;
    opacity: 0;
    -webkit-transition:opacity 0.4s ease-in-out;
    -moz-transition:opacity 0.4s ease-in-out;
    -o-transition:opacity 0.4s ease-in-out;
    -ms-transition:opacity 0.4s ease-in-out;
    transition:opacity 0.4s ease-in-out;
    background-position:center center;
    background-repeat:no-repeat;
    background-image:url('../images/zoom.png');
    vertical-align: bottom;
}
.galleryimage.projectimage a{
    background-image:url('../images/link.png');
}
.right-img .galleryimage a,.right-img .galleryimage{
    left: inherit;
    right: 0px;
}
.right-img .gallerycontent{
    float: left;
}
.galleryimage a:hover{
    opacity: 0.9;
}
.gallery-title {
	height: 50px;
	left: 0;
	position: absolute;
    display: inline-block;
	right: 0;
	top: 0;
	z-index: 9;
    font-size: 20px;
    line-height: 50px;
    margin: 0px;
    padding: 0px;
}
/* ================= TEAM MEMBER ICONS ================== */
.member-icons {
    list-style-type: none;
    display: inline-block;
    margin: -5px 0px 0px 0px;
    padding: 0px;
    vertical-align:bottom;
}
.member-icons li {
    float: left;
    display: block;
    margin: 0px 5px 0px 0px;
    padding: 0;
}
.member-icons li img {
    width:30px !important;
    height:auto;
    vertical-align:bottom;
    padding: 7px;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
/* ================= RESPONSIVE VIDEO ================== */
.flex-video {
    position:relative;
    padding-bottom:67.5%;
    height:0;
    overflow:hidden;
    margin-bottom:40px;
    margin-top:40px;
}
.flex-video.widescreen {
    padding-bottom:37.25%;
}
.flex-video.vimeo {
    padding-top:0;
}
.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    outline:none;
    border:none;
}
/* ================= FLEX IMAGE ================== */
.caption-image {
    position:relative;
    margin-bottom:40px;
    margin-top:40px;
}
.caption-image img {
    width:100%;
    height:auto;
    vertical-align: bottom;
    border-bottom: none !important;
}
.caption-image figcaption {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    left:0;
    width:100%;
    text-align:center;
    height: 50px;
    line-height: 50px;
}
/* ================= NUMERIC LIST ================== */
.faq {
    counter-reset: number-counter;
    margin:40px 0px 40px 0px;
    padding:40px 0px 0px 0px;
}
.faq dt {
    position: relative;
    font-size:22px;
    margin-bottom: 20px;
    line-height: 1;
}
.faq dt:after {
    content: counter(number-counter);
    counter-increment: number-counter;
    position: absolute;
    left: 0px;
    top: 0px;
    font: bold 55px/40px Sans-Serif;
    padding: 30px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    text-align: center;
}
.faq dd {
    margin: 0px 0px 40px 0px;
    padding: 0px 0px 40px 0px;
    word-spacing: 0.15em;
    line-height: 1.5;
}
.faq dt, .faq dd {
    padding-left: 125px;
}
/* ================= ACCORDION  ================== */
#accordion-container {
	padding: 0px;
	margin: 40px 0px 40px 0px;
	width: 100%;
	position: relative;
}
.accordion-header {
	margin: 0px;
	padding: 20px 20px 20px 0px;
	cursor: pointer;
    -webkit-transition:color 0.2s ease-in-out;
    -moz-transition:color 0.2s ease-in-out;
    -o-transition:color 0.2s ease-in-out;
    -ms-transition:color 0.2s ease-in-out;
    transition:color 0.2s ease-in-out;
    font-size: 15px;
    font-weight: 700;
}
.accordion-header h5{
    margin: 0px;
}
.active-header {
	background: url(../images/minus.png);
	background-repeat: no-repeat;
	background-position: right 50%;
}
.inactive-header {
	background: url(../images/plus.png);
	background-repeat: no-repeat;
	background-position: right 50%;
}
.inactive-header:hover {
	background: url(../images/plus.png);
	background-repeat: no-repeat;
	background-position: right 50%;
}
.accordion-content {
	display: none;
	padding: 30px 0px 30px 0px;
	width: 100%;
}
/* ================= TABS ================== */
ul.resp-tabs-list {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    width: 100%;
    vertical-align: bottom;
}
.resp-tabs-list li {
    font-size: 18px;
    display: inline-block;
    padding: 20px;
    margin: 0px;
    list-style: none;
    cursor: pointer;
    float: left;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    border-top:3px solid transparent;
}
.resp-tabs-container {
    padding: 0px;
    clear: left;
    margin-bottom: 40px;
}
.resp-tab-content {
    display: none;
}
.resp-tab-content img{
    max-width: 100%;
    height: auto;
}
.resp-content-active, .resp-accordion-active {
    display: block;
}
.resp-tab-content {
    border: none;
    padding: 40px;
}
/*-----------Vertical tabs-----------*/
 .resp-vtabs ul.resp-tabs-list {
    float: left;
    width: 30%;
    border-bottom: none;
}
.resp-vtabs .resp-tabs-list li {
    display: block;
    padding: 20px !important;
    margin: 0;
    cursor: pointer;
    float: none;
    border-top: none !important;
}
.resp-vtabs .resp-tabs-container {
    padding: 0px;
    float: left;
    width: 70%;
    clear: none;
}
.resp-vtabs li.resp-tab-active {
    position: relative;
    z-index: 1;
    padding: 20px !important;
    border-top: none !important;
}
h2.resp-tab-active {
    margin-bottom: 0px !important;
    padding: 20px !important;
}
h2.resp-tab-active span.resp-arrow {
    border: none;
}
.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 3px;
}
/*-----------Accordion styles-----------*/
h2.resp-accordion {
    cursor: pointer;
    display: none;
    font-size: 18px;
    margin: 0px;
    padding: 20px;
}
.resp-easy-accordion h2.resp-accordion {
    display: block;
}
.resp-jfit {
    width: 100%;
    margin: 0px;
}
.resp-tab-content-active {
    display: block;
}
/* ================= INFO BOX ================== */
 .oriel-message {
    background-size: 40px 40px;
    width: 100%;
    padding: 40px;
    margin:40px 0px;
    -webkit-animation: animate-bg 5s linear infinite;
    -moz-animation: animate-bg 5s linear infinite;
    -o-animation: animate-bg 5s linear infinite;
    animation: animate-bg 5s linear infinite;
    position:relative;
}
.oriel-message-close {
    position:absolute;
    width:25px;
    height:25px;
    right:5px;
    top:5px;
    cursor:pointer;
    background-image:url('../images/close-s.png');
    background-repeat:no-repeat;
    background-position:center center;
    -webkit-transition:opacity 0.2s ease-in-out;
    -moz-transition:opacity 0.2s ease-in-out;
    -o-transition:opacity 0.2s ease-in-out;
    -ms-transition:opacity 0.2s ease-in-out;
    transition:opacity 0.2s ease-in-out;
    opacity: 0.3;
}
.oriel-message-close:hover {
    opacity:1;
}
.oriel-message p {
    margin: 0;
}
@keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}
@-webkit-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}
@-moz-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}
@-o-keyframes animate-bg {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -80px 0;
    }
}
/* ================= GOOGLE MAP - INFO BARS ================== */
.google-map{
    border: 10px solid #f5f1f0;
    margin-bottom: 0px;
}
.info-bar {
    padding: 10px 15px 10px 15px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0px;
}
/* ================= FOOTER ================== */
#footer {
    height: auto;
    margin: 0px;
    width: 100%;
    padding: 15px 0px;
    position: relative;
    overflow: hidden;
    vertical-align: bottom;
}
.footer-info {
    position: relative;
    width: 100%;
    max-width: 1400px;
    vertical-align: bottom;
    margin: 0px auto;
    padding: 0px 40px;
}
.credits {
    float: left;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    line-height: 34px;
    font-size: 18px;
    opacity: 0.7;
}
/* ================= SOCIAL ICONS ================== */
.social-icons {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    float: right;
}
.social-icons li {
    float: left;
    display: block;
    margin: 0px 0px 0px 20px;
    padding: 0;
    line-height: 34px;
}
.social-icons li img {
    width: 22px;
    height: auto;
    vertical-align: middle;
    opacity: 0.5;
}
.social-icons li img:hover {
    opacity: 1;
}
.social-icon {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.social-icon:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}